*{margin:0;
padding:0;
box-sizing: border-box;
font-family: 'helvetica neue';}

html,body{height: 100%;
width: 100%;}

.card{background-color:blueviolet ;
border-radius: 10px;
margin: 20px;
height: 80px;
padding: 20px;
text-align:center;}

.nav{background-color:rgb(47, 133, 161) ;
padding: 20px;
margin:5px;}